
// IMPORTS

// FONTS
$ranade: 'Ranade', sans-serif;
$satoshi: 'Satoshi', sans-serif;

// background color
body {
  background-color: rgb(242, 242, 242);
}


// Navbar
.nav-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  .nav-left {
    margin-left: 10px;
  }
  .nav-right {
    display: flex;
    p {
      margin: 10px;
    }
  }
}
